html, body {
  padding: 0;
  margin: 0;
}

#buttons {
  position: absolute;
  top: 0;
  left: 0;
  width: 150px;
}
    
#buttons input[type='button'] {
  display: list-item;
  width: 100%;
  background-color: black;
  color: white;
  border: none;
  padding: 15px;
  cursor: pointer;
  border-bottom: 1px solid white;
}
#buttons input:active {
  border: none;
  outline: none;
}
#buttons input:hover {
  color: grey;
}
canvas {
  background-color: #000;
  display: none;
}
:focus {
  outline: none;
}